.nav {
  padding: 2rem 6rem;
  color: #fff;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  position: relative;
}
.logo {
  margin-right: auto;
}

.logo img {
  height: 20px;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.nav__menu a:link,
.nav__menu a:visited {
  cursor: pointer;
  font: inherit;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.15rem;
  transition: all 0.35s ease;
}
.nav__menu a:hover {
  border-color: var(--color-accent);
}
.nav__menu a:active {
  border-color: #fff;
  color: #c0c0c0;
}

.sign {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 700px) {
    display: none;
  }
}
.sign a:link,
.sign a:visited {
  transition: all 0.35s ease;
}
.signin:link,
.signin:visited {
  font: inherit;
}
.signin:hover {
  color: var(--color-accent);
}
.signup:link,
.signup:visited {
  font-size: 1.125rem;
  line-height: normal;
  background-color: var(--color-accent);
  padding: 1rem 2.8rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
}
.signup:hover {
  background: transparent;
  border-color: var(--color-accent);
}

.btns {
  display: none;
  @media screen and (max-width: 1200px) {
    display: block;
    margin-left: 5rem;
  }
}

.btns button {
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.mobile__nav {
  position: absolute;
  right: 6rem;
  top: 10rem;
  background: var(--color-blog);
  padding: 2rem 2rem 4rem;
  width: 16rem;

  border-radius: 0.5rem;
  border: none;
}
.mobile__nav__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.mobile__nav__menu a:link,
.mobile__nav__menu a:visited {
  font: inherit;
  transition: all 0.35s ease;
}
.mobile__nav__menu a:hover {
  color: var(--color-accent);
}

.mobile__sign {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;

  display: none;

  @media screen and (max-width: 700px) {
    display: flex;
  }
}

.mobile__sign a:link,
.mobile__sign a:visited {
  font-size: 1.25rem;
  line-height: normal;
  padding: 0.5rem 1rem;
}
.mobile__signup:link,
.mobile__signup:visited {
  background-color: var(--color-accent);
  border-radius: 0.25rem;
  border: 2px solid transparent;
}
.mobile__signup:hover {
  background: transparent;
  border-color: var(--color-accent);
}
